.room-buttons {
    margin: 0px;
    padding: 10px; 
    display: inline-flex;
    flex-wrap: wrap; 
    gap: 10px;  
}

.user-form {
    padding: 0px 20px 0px 20px; 
    /* border: solid grey 1px;  */
}

.user-submit {
    padding: 10px; 
    margin-top: 20px; 
    background-color: rgb(4, 116, 201); 
    border: none; 
    border-radius: 5%; 
    color: white; 
}

.msg-button {
    padding: 5px; 
    margin: 2.5px; 
    background-color: rgb(4, 116, 201); 
    border: none; 
    border-radius: 5px;
    color: white; 
}

.msg-button:hover {
    background-color: rgba(4, 116, 201, 0.5);
    cursor: pointer;
}

.msg-button-active {
    background-color: red;
}

.msg-button-active:hover {
    background-color: maroon;
    cursor: pointer;
}

.logout-button {
    display: flex; 
    justify-content: flex-end;
    margin: 15px;
    
}

.room-name {
    font-size: 20px;  /* Adjust as necessary */
}

.room-code {
    font-size: 12px;  /* Adjust as necessary */
}

.room-button{
    display: flex;
    /* flex-wrap: wrap;  */
    align-items: center;
    margin: 10px;
    flex-direction: column;
}

.chat-div {
    bottom: 0; 
    position: fixed; 
    background-color: rgb(62, 62, 106); 
    width: 100%; 
    left: 0px;
    padding-top: 20px;
    padding-bottom: 20px; 
    padding-left: 20%;
    padding-right: 20%; 
    
}

.msg-container {
    margin-bottom: 150px; 
}

.edit-btn {
    float: right; 
    color: white; 
    background: rgb(95, 95, 210); 
    border: none; 
    border-radius: 0px 0px 5px 5px;
}

.chat-box {
    width: 70%; 
    height: 30px; 
}

