.room-buttons {
    margin: 0px;
    padding: 10px; 
    display: inline-flex;
    flex-wrap: wrap; 
    gap: 10px;  
}

.user-form {
    padding: 0px 20px 0px 20px; 
    /* border: solid grey 1px;  */
}

.user-submit {
    padding: 10px; 
    margin-top: 20px; 
    background-color: rgb(4, 116, 201); 
    border: none; 
    border-radius: 5%; 
    color: white; 
}

.msg-button {
    padding: 5px; 
    margin: 2.5px; 
    background-color: rgb(4, 116, 201); 
    border: none; 
    border-radius: 5px;
    color: white; 
}


.logout-button {
    display: flex; 
    justify-content: flex-end;
    margin: 15px;
    
}

.room-name {
    font-size: 20px;  /* Adjust as necessary */
}

.room-code {
    font-size: 12px;  /* Adjust as necessary */
}

.room-button{
    display: flex;
    /* flex-wrap: wrap;  */
    align-items: center;
    margin: 10px;
    flex-direction: column;
}

.chat-div {
    bottom: 0; 
    position: fixed; 
    background-color: rgb(62, 62, 106); 
    width: 100%; 
    padding: 10px 0px 10px 50px;
    left: 0px;
}

.msg-container {
    margin-bottom: 70px; 
}